---
import WhatsAppIcon from "../../assets/icons/WhatsAppIcon.astro";
---

<div class="flex justify-center items-center fixed bottom-[1em] right-[1em] z-[999999] text-[1.875rem] bg-[#25d366] hover:bg-[#25d365d9] w-[2em] h-[2em] rounded-[100%] cursor-pointer">
    <a href="https://wa.me/3516132782?text=Hola%20Casella%20Cl%C3%ADnica%20Dental!%20me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n" target="_blank">
        <WhatsAppIcon iconStyles={"text-white stroke-white stroke-[1.5] w-[33px] h-[33px]"} />
    </a>
</div>