---
import { SectionContainer } from "../../common/SectionContainer/SectionContainer";
const title = "Nuestros Profesionales";
const description =
    "Contamos con un equipo de profesionales altamente calificados para brindarte la mejor atención.";
---

<SectionContainer title={title} description={description}>
    <span>hola</span>
</SectionContainer>
