---
import CalendarIcon from "../../assets/icons/CalendarIcon.astro";
---

<button
    class="flex items-center text-black cursor-pointer gap-2 bg-[#9fe3d9] font-medium px-2 py-2 rounded-md hover:bg-[#9fe3d9ce] transition duration-200"
>
    <CalendarIcon />
    <span class="cursor-pointer"> Agenda tu turno!</span>
</button>
