---
import logo from "../../assets/casella-logo.png";
import { Image } from "astro:assets";
import ScheduleButton from "../../common/ScheduleButton/ScheduleButton.astro";
---

<nav
    class="flex justify-between items-center px-8 py-4 bg-white shadow-md text-black sticky top-0 z-50"
>
    <a href="#">
        <Image src={logo} alt="Logo" class={"w-[140px]"} loading="lazy" />
    </a>

    <ul class="flex gap-5 items-center">
        <li class="hover:text-[#9fe3d9] transition-all duration-300">
            <a href="#professionals">Profesionales</a>
            <li class="hover:text-[#9fe3d9] transition-all duration-300">
                <a href="#gallery">Galería</a>
            </li>
            <li class="hover:text-[#9fe3d9] transition-all duration-300">
                <a href="#testimonials">Testimonios</a>
            </li>
            <li class="hover:text-[#9fe3d9] transition-all duration-300">
                <a href="#location">Ubicación</a>
            </li>
            <li class="hover:text-[#9fe3d9] transition-all duration-300">
                <a href="#contact">Contacto</a>
            </li>

            <ScheduleButton />
        </li>
    </ul>
</nav>
