---
import { ScheduleButton } from "../../common/ScheduleButton/ScheduleButton";
---

<section
    class={`relative overflow-hidden h-[600px] bg-[url('https://i.pinimg.com/736x/16/09/48/160948b14041e83154dea59ba4d9d12d.jpg')] bg-cover bg-center`}
>
    <div class="absolute inset-0 bg-black opacity-70 z-0"></div>

    <div
        class="relative z-10 container h-full flex flex-col items-center justify-center px-4 py-8 mx-auto text-center text-white w-[100%] md:w-[80%]"
    >
        <div
            data-aos="fade-down"
            data-aos-duration="600"
            data-aos-easing="ease-out-sine"
            data-aos-offset="10"
        >
            <h1 class="md:text-6xl text-4xl font-bold">
                Sonrisas saludables para toda la familia
            </h1>
        </div>

        <p
            class="text-center text-sm md:text-lg mt-4 max-w-2xl"
            data-aos="fade-down"
            data-aos-duration="700"
            data-aos-easing="ease-out-sine"
            data-aos-delay="50"
            data-aos-offset="5"
        >
            Ofrecemos <strong>atención odontológica de calidad</strong> con tecnología
            avanzada y un equipo profesional comprometido con tu bienestar.
        </p>

        <div
            class="flex items-center md:flex-row justify-center gap-4 mt-6 flex-col-reverse"
            data-aos="fade-down"
            data-aos-duration="700"
            data-aos-easing="ease-out-sine"
            data-aos-delay="100"
            data-aos-offset="5"
        >
            <ScheduleButton />
            <a
                href="#services"
                class="flex items-center cursor-pointer gap-2 font-medium px-2 py-1 md:px-4 md:py-2 rounded-md transition duration-200 border-[1px] border-white hover:bg-white hover:text-black"
            >
                Conocer Nuestros Servicios
            </a>
        </div>
    </div>
</section>

